# JetBrains IntelliJ IDEA files
.idea/
*.iml
atlassian-ide-plugin.xml

# Log files
*.log

# Libraries and others
*.jar
*.zip

# Target
target/

# Unused web-app files
web-app

docs/
plugin.xml
.settings

# Unused grails files
grails-app/i18n/
